{% extends 'client/client_Base.html' %}
{% load staticfiles %}
{% block background %}{% endblock %}
{% block options %}

<!--
<meta http-equiv="refresh" content="3;url=/client/register/">
-->

<div class="list_main">
  <div class="showmessage" align="center">
    <caption>
    <h2>&nbsp;</h2>
    <h2>信息提示</h2>
    </caption>
    <p>对不起,信息不对,注册失败,请重新注册。</p>
    <p class="op">  <a href="{% url 'client_req_register' %}">返回上一页</a> | <a href="{% url 'client_index' %}">返回首页</a>  </p>
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
  <div class="clear"></div>
</div>

{% endblock %}
