{% extends 'client/client_Base.html' %}
{% load staticfiles %}

{% block background %}
{% endblock %}

{% block options %}
<div class="width_900" style="min-height:550px;">
    <div class="blankH20"></div>
    <div class="info_img">
        <img class="img" src="/static/files/commodity_imgs/{{ commodity.c_id }}.png">
    </div>
    <div class="right_text">
        <div class="tle">{{commodity.c_name}}</div>
        <h3>{{commodity.c_description}}</h3>
        <h4>{{commodity.c_price}}RMB</h4>

        <p class="select">
            <select name="size_id" id="size_id" onchange="on_size_change();">
                <option value="">选择尺码</option>
                {% for size in sizes_list %}
                <option value="{{ size }}">{{ size }}</option>
                {% endfor %}
            </select>
        </p>

        <p class="select">
            <select name="color_id" id="color_id" onchange="on_color_change();">
                <option value="">选择颜色</option>
                {% for color in colors_list %}
                <option value="{{ color }}">{{ color }}</option>
                {% endfor %}
            </select>
        </p>

        <h4>邮费:20RMB</h4>
        <h4>剩余商品个数:{{ commodity.c_num }}</h4>

        <div class="btn_box">
            <a class="info_btn1" href="javascript:void(0);" onclick="put_in_cart()">加入购物车</a>
        </div>

        <form action="{% url 'client_add_cart' %}" id="cart_form" method="post">
            <input id="commodity_id" name="commodity_id" type="hidden" value="{{ commodity.c_id }}">
            <input id="size" name="size" type="hidden">
            <input id="color" name="color" type="hidden">
        </form>
    </div>
    <div class="clear"></div>
    <div class="blankH20"></div>
    <div class="blankH20"></div>
    <div class="clear"></div>
    <div class="footer">
        <div class="width_1035">
            <div class="fl">
                <h3>服务信息</h3>

                <p><a href="#">联系我们</a></p>

                <p><a href="#">配送信息</a></p>

                <p><a href="#">退换货信息</a></p>

                <p><a href="#">付款相关</a></p>

                <p><a href="#">关于雅币</a></p>

                <p><a href="#">常见问题</a></p>
            </div>
            <div class="fl">
                <h3>&nbsp;</h3>

                <p><a href="#">联盟入驻</a></p>

                <p><a href="#">广告</a></p>

                <p><a href="#">服务条款</a></p>

                <p><a href="#">隐私与COOKIE条款</a></p>

                <p><a href="#">我们的APP</a></p>
            </div>
            <div class="fr">
                <h3>订阅雅歭</h3>
                <input name="" type="text" placeholder="订阅YAZEE 电子快报">
            </div>
            <div class="clear"></div>
            <p>蜀ICP备15018040</p>
        </div>
    </div>
</div>

<script  language="javascript" type="text/javascript">
        function on_size_change(){
               var sel_obj = document.getElementById("size_id");
               var index = sel_obj.selectedIndex;
               $('#size').attr("value", sel_obj.options[index].value);
        }

        function on_color_change(){
               var sel_obj = document.getElementById("color_id");
               var index = sel_obj.selectedIndex;
               $('#color').attr("value", sel_obj.options[index].value);
        }

        function put_in_cart(){
            $('#cart_form').submit();
        }
    </script>
{% endblock %}
