<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>


</head>
<body >
<!--
<a href="{{ pay_url }}" class="a" id="b"> {{ pay_url }}</a>

<br>
<a href="javascript:void(0);" onclick="window.location.href='{{ pay_url }}'">{{ pay_url }}</a>
-->
<meta http-equiv="refresh" content="0.1;url={{ pay_url }}">

<!--<script>-->
           <!--url=document.getElementById('b')-->
           <!--alert(url);-->
           <!--window.location.href="{{ pay_url }}";-->
<!--</script>-->

</body>
</html>
