{% extends 'manage_index.html' %}
{% block content %}
<div class="col-xs-14 col-lg-24">
    <h2>会员列表</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th></th>
            <th>管理员名称</th>
            <th>管理员邮箱地址</th>
            <th>管理员手机号码</th>
        </tr>
        </thead>
        <tbody>
        {% for admin in admins_list %}
        <tr>
            <td><input type="checkbox" name="del_admins" id="{{ admin.username }}"></td>
            <td>{{ admin.username }}</td>
            <td>{{ admin.email }}</td>
            <td>{{ admin.phone_num }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default" href="javascript:void(0);" onclick="del_items()" role="button">删除选中的管理员</a>
</div><!--/.col-xs-6.col-lg-4-->
{% endblock %}
{% block options %}
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <a href="{% url 'index' %}" class="list-group-item">商品管理</a>
        <a href="{% url 'req_brand' %}" class="list-group-item">品牌管理</a>
        <a href="{% url 'req_class' %}" class="list-group-item">分类管理</a>
        <a href="{% url 'req_style' %}" class="list-group-item">颜色/款式管理</a>
        <a href="{% url 'req_size' %}" class="list-group-item">尺寸管理</a>
        <a href="#" class="list-group-item">订单管理</a>
        <a href="#" class="list-group-item">发货管理</a>
        <a href="{% url 'req_shop_addr' %}" class="list-group-item">门店管理</a>
        <a href="{% url 'req_admin' %}" class="list-group-item active">管理员管理</a>
        <a href="{% url 'req_client' %}" class="list-group-item">会员管理</a>
    </div>
</div><!--/.sidebar-offcanvas-->
{% endblock %}
{% block manager_register_login_options_js %}
<script type="text/javascript">
    function del_items() {
        if (window.confirm("您确定要删除吗？")) {
            //var username = "{{login_user}}";
            var url = "/manage/delete_items/";
            var i = 0;
            var deleList = new Array();
            $("input[name='del_admins']:checked").each(function () {
                i++;
                deleList[i] = $(this).attr('id');
            });
            $.post(url,
                    {
                        del_object: 'admin',
                        del_item_list: deleList.toString()
                    }, function (data) {
                        for (var i = 1; i < deleList.length; i++) {
                            var del_node = document.getElementById(deleList[i]);
                            var del_tr = del_node.parentNode.parentNode;
                            del_tr.parentNode.removeChild(del_tr);
                        }
                        var del_box_list = document.getElementsByName("del_admins");
                        for (var i = 0; i < del_box_list.length; i++) {
                            del_box_list[i].checked = false;
                        }
                        alert(data);
                    });
        }
    }
</script>
{% endblock %}
