{% extends 'manage_index.html' %}

{% block content %}
<div class="col-md-8">
    <div class="card">
        <div class="header">
            <h4 class="title">修改分类</h4>
        </div>
        <div class="content">
            <form id="class-form" class="form-signin" action="{% url 'modify_class' %}" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="class_id" name="class_id" value="{{ class.class_id }}" type="hidden">
                            <label for="class_name">分类名称</label>
                            <input id="class_name" name="class_name" class="form-control" value="{{ class.class_name }}" autofocus type="text">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-fill pull-right">更新修改</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card card-user">
        <div class="image">
            <!--<img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>-->
        </div>
        <div class="content">
            <div class="author">
                 <a href="#">
                <img class="avatar border-gray" src="/static/files/brand_imgs/9.jpg" alt="..."/>

                  <h4 class="title">YAZEE<br />
                     <small>不只是奢侈品</small>
                  </h4>
                </a>
            </div>
            <p class="description text-center"> "简单描述 <br>
                                简单的几个字说说商品吧 <br>
                                 简单的几个字说说商品吧"
            </p>
        </div>
        <hr>

    </div>
</div>
{% endblock %}


{% block manager_register_login_options_js %}
<script src="/static/js/jquery.validate.js"></script>
<script type="text/javascript">
    $().ready(function(){
        $("#class-form").validate({
            rules:{
                class_name: {
                    required:true
                }
            },
            messages:{
                class_name: {
                    required: "请输入分类名称"
                }
            }
        });
    });
</script>
{% endblock %}

