{% extends 'manage_index.html' %}

{% block content %}
<div class="col-md-8">
    <div class="card">
        <div class="header">
            <h4 class="title">修改门店地址</h4>
            <p class="text-danger">{{ message }}</p>
        </div>
        <div class="content">
            <form id="MD-form" class="form-signin" action="{% url 'modify_shop_addr' %}" method="post">
                <div class="row">
                    <div id="MD_addr" class="col-md-3">
                        <div class="form-group">
                            <input id="shop_addr_id" name="shop_addr_id" value="{{ shop_addr.shop_addr_id }}" type="hidden">
                            <select class="prov form-control" name="provincedomain"></select>
                            <select class="city form-control" name="citydomain" disabled="disabled"></select>
                            <select class="dist form-control" name="towndomain" disabled="disabled"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label>详细地址</label>
                            <input class="form-control" name="info_addr" value="{{ shop_addr.info_addr }}" autofocus type="text">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-fill pull-right">更新修改</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card card-user">
        <div class="image">
            <!--<img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>-->
        </div>
        <div class="content">
            <div class="author">
                 <a href="#">
                <img class="avatar border-gray" src="/static/files/brand_imgs/9.jpg" alt="..."/>

                  <h4 class="title">YAZEE<br />
                     <small>不只是奢侈品</small>
                  </h4>
                </a>
            </div>
            <p class="description text-center"> "我们卖的不是奢侈品 <br>
                                而是能够点亮 <br>
                                 生活的艺术品"
            </p>
        </div>
        <hr>

    </div>
</div>
{% endblock %}


{% block manager_register_login_options_js %}
<script src="/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/jquery.cityselect.js"></script>
<script type="text/javascript">
    $().ready(function(){
        $("#MD_addr").citySelect({
            prov:"广东",
            city:"深圳",
            dist:"罗湖区",
            nodata:"none"
        });
        $("#MD-form").validate({
            rules:{
                info_addr: {
                    required:true
                }
            },
            messages:{
                info_addr: {
                    required: "请输入详细地址"
                }
            }
        });
    });
</script>
{% endblock %}

