{% extends 'manage_index.html' %}
{% block manager_register_css %}
<link href="/static/css/signin.css" rel="stylesheet">
{% endblock %}
{% block page_container %}
    <div class="container">

      <form id="size-form" class="form-signin" action="{% url 'modify_size' %}" method="post">
        <h2 class="form-signin-heading">修改尺寸</h2>
          <p class="text-danger">{{ message }}</p>

          <input id="size_id" name="size_id" value="{{ size.size_id }}" type="hidden">
          <label for="size_name">尺寸名称:</label>
          <input id="size_name" name="size_name" class="form-control"  value="{{ size.size_name }}" autofocus type="text"><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
      </form>

    </div> <!-- /container -->
{% endblock %}
{% block manager_register_login_options_js %}
<script src="/static/js/jquery.validate.js"></script>
<script type="text/javascript">
    $().ready(function(){
        $("#size-form").validate({
            rules:{
                size_name: {
                    required:true
                }
            },
            messages:{
                size_name: {
                    required: "请输入尺寸名称"
                }
            }
        });
    });
</script>
{% endblock %}

